$primary: #FFD93E;
$primary-darken: #FFCD00;

$accent-blue: #068FFF;
$accent-yellow: #FFD800;
$accent-orange: #F76B1C;

$black: #000000;
$white: #FFFFFF;

$gray: #858585;
$gray-dark: #333333;
$gray-light: #F2F1F0;
$gray-lightest: #F7F7F7;

$yellow-dark: #FFB100;
$yellow-light: #FFE88C;

$gap-xl: 30px;
$gap-l: 20px;
$gap-m: 15px;

